
@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border: 1px solid #f3f3f3; /* Light grey */
  border-top: 1px solid #848f97; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}